* {
  margin: 3px;
  padding: 0.2em;  
}

input {
    display: block;
    margin-bottom: 20px;
}

form {
    margin: auto;
    width: 300px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding-left: 1%;
    margin-top: 1%;
    padding: 1em;
}

body {
    background-color: #fed000;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

h1 {
    text-align: center;
    padding: 0.5em;
}

h2 {
    text-align: center;
    padding: 00.5em;
}

button {
    width: 100px;
}
